* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }
  * body {
    width: 100%;
    /*estilos index*/ }
    * body .bg-menu {
      background-color: #131346, #739dec, white, #1c1c69; }
    * body .contenedorIndex {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: auto;
      align-items: center; }
      * body .contenedorIndex header {
        background-color: #739dec; }
      * body .contenedorIndex .welcome {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0 2rem;
        gap: 4rem; }
        * body .contenedorIndex .welcome .slogan {
          width: 50%;
          color: #131346; }
          * body .contenedorIndex .welcome .slogan .slogan h1 {
            font-size: 7rem; }
        * body .contenedorIndex .welcome .fotoLocal {
          margin: 0 2rem;
          padding: 2rem;
          width: 50%; }
      * body .contenedorIndex .catalogoInicio {
        margin: 2rem; }
        * body .contenedorIndex .catalogoInicio .tituloSection {
          margin-bottom: 2rem;
          font-size: 1.3rem;
          color: #131346; }
          * body .contenedorIndex .catalogoInicio .tituloSection a:link {
            color: #131346;
            text-decoration: none; }
          * body .contenedorIndex .catalogoInicio .tituloSection a:visited {
            color: #131346;
            text-decoration: none; }
          * body .contenedorIndex .catalogoInicio .tituloSection a:hover {
            color: #131346;
            text-decoration: none; }
          * body .contenedorIndex .catalogoInicio .tituloSection a:active {
            color: #131346;
            text-decoration: none; }
        * body .contenedorIndex .catalogoInicio .displayArticulos {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          width: 100%;
          gap: 1rem; }
          * body .contenedorIndex .catalogoInicio .displayArticulos .catalogoInicio .displayArticulos .ventanaArticulo a {
            color: white; }
          * body .contenedorIndex .catalogoInicio .displayArticulos .ventanaArticulo {
            width: 20%;
            border-radius: 5%;
            background-color: #1c1c69;
            padding: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: auto;
            align-items: center; }
            * body .contenedorIndex .catalogoInicio .displayArticulos .ventanaArticulo a:link {
              color: white;
              text-decoration: none; }
            * body .contenedorIndex .catalogoInicio .displayArticulos .ventanaArticulo a:visited {
              color: white;
              text-decoration: none; }
            * body .contenedorIndex .catalogoInicio .displayArticulos .ventanaArticulo a:hover {
              color: white;
              text-decoration: none; }
            * body .contenedorIndex .catalogoInicio .displayArticulos .ventanaArticulo a:active {
              color: white;
              text-decoration: none; }
            * body .contenedorIndex .catalogoInicio .displayArticulos .ventanaArticulo p {
              color: white; }
          * body .contenedorIndex .catalogoInicio .displayArticulos .fotoArticulo {
            width: 90%; }
      * body .contenedorIndex footer {
        font-size: 1rem;
        width: 100%;
        padding: 0.5rem 0;
        margin-top: 3rem;
        color: white;
        background-color: #739dec;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
