@import "base/listas";
@import "base/mixin";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
        body{
            width: 100%;
            .bg-menu{
                background-color: $colores;
            }
            /*estilos index*/
            .contenedorIndex{  
                                width: 100%;
                                height: 100%;
                                @include display(flex, column, auto, center);
                                header{
                                    background-color: nth($colores, 2);
                                }
                                .welcome{
                                    @include display(flex, row, center, center);
                                    margin: 0 2rem;
                                    gap: 4rem; 
                                    .slogan{
                                        width: 50%;
                                        color: nth($colores, 1);
                                        .slogan h1{
                                            font-size: 7rem;
                                        }
                                    }
                                    .fotoLocal{
                                        margin: 0 2rem;
                                        padding: 2rem;
                                        width: 50%;
                                    }
                                }
                                .catalogoInicio{
                                    margin: 2rem;
                                    .tituloSection{
                                                    margin-bottom: 2rem;
                                                    font-size: 1.3rem;
                                                    color: nth($colores, 1);
                                                    a:link{
                                                        color:nth($colores, 1);
                                                        text-decoration: none;
                                                    }
                                                    a:visited {
                                                        color: nth($colores, 1);
                                                        text-decoration: none;                        
                                                    }
                                                    
                                                    a:hover {
                                                        color: nth($colores, 1);
                                                        text-decoration: none;
                                                    }
                                                    
                                                    a:active {
                                                        color: nth($colores, 1);
                                                        text-decoration: none;
                                                    }
                                                 }
                                    .displayArticulos{
                                                        @include display(flex, row, center, center);
                                                        width: 100%;
                                                        gap: 1rem;

                                                        .catalogoInicio .displayArticulos .ventanaArticulo a{
                                                            color:nth($colores, 3)
                                                        } 
                                                        .ventanaArticulo{
                                                            width: 20%;
                                                            border-radius: 5%;
                                                            background-color: nth($colores, 4);
                                                            padding: 2rem;
                                                            @include display(flex, column, auto, center);
                                                            a:link{
                                                                color: nth($colores, 3);
                                                                text-decoration: none;
                                                            }
                                                            a:visited {
                                                                color: nth($colores, 3);
                                                                text-decoration: none;                        
                                                            }
                                                            
                                                            a:hover {
                                                                color: nth($colores, 3);
                                                                text-decoration: none;
                                                            }
                                                            
                                                            a:active {
                                                                color: nth($colores, 3);
                                                                text-decoration: none;
                                                            } 
                                                            p{
                                                                color: nth($colores, 3);
                                                            }   
                                                        }
                                                        .fotoArticulo{
                                                            width: 90%;;
                                                        }
                                                        
                                                                                                              
                                                    }
      
                                    }
                                    footer {
                                        font-size: 1rem;
                                        width: 100%;
                                        padding: 0.5rem 0;
                                        margin-top: 3rem;
                                        color: nth($colores, 3);
                                        background-color: nth($colores, 2) ;
                                        @include display(flex, column, center, center);
                                    }
                                    

                                    
                                    
                                }
                                
                                
                                
                                
                            }
                                      
                
    }
